<!doctype html>
<html>
  <head>
    <title>React Boilerplate</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <script>
      var ENV_CONFIGURATION = JSON.parse('<%= htmlWebpackPlugin.options.configJson %>');
    </script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
